*{
        margin: 0px;
        padding: 0px;
}

.head {
    background-color: black;
    color: white;
    width: 70%;
    margin: auto;
    vertical-align: middle;
    padding: 10px 0;
}
.head img {
    width="100px;
    vertical-align: mi;
    padding: 10px 0;
}
.backhead {
    background-color: black;
}
.head ul{
    display: inline-block;
    padding-left: 50%;
    
}
.head li{
    display: inline-block;
    padding-left: 20px;
    font-size: 15px;
    text-align: right;
}
.premium{
    background-color:rgb(255, 9, 193);
    padding: 100px  0px;
    color: white;
}
.premium-content{
    margin: auto;
    width: 70%;
}
.premium-content h1,h2{
    padding-bottom: 20px;
}
.premium-content p{
    padding-top: 20px;
}
.premium-bottons{
    display: inline-block;
    font-size: 11px;
}
.comece-agora{
    background-color: black; 
    color: white; 
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid black;
    font-size: 10px;
}
.ver-agora{
    color: black; 
    width: 150px;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 10px;
}
.comece-agora:hover, .ver-agora:hover{
    padding: 15px 35px;
    font-size: 15px;
    cursor: pointer;
}
.why{
    text-align: center;
}
.why h2 {
    margin-top: 50px;
}
.why div{
    display: inline-block;
    margin: 20px;
    padding-bottom: 40px;
}
.why img{
    width: 100px;
    padding: 16px;
    background-color: rgb(172, 172, 172);
    border-radius: 100px;
    padding-bottom: 10px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.footer h2{
    padding-top: 30px;
}
.div-style{
    border: 5px solid blueviolet;
    width: 700px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    
}
.div-style li{
    list-style: none;
}
.div-style h3{
    padding-bottom: 35px;
}
.botton{
    padding-top: 50px;
    padding-bottom: 50px;
}